.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #6528b3;
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/kenny-1500w.jpg");
}
.home-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink {
  display: contents;
}
.home-logo {
  text-decoration: none;
}
.home-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navlink1 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-navlink2 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-navlink3 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-navlink4 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link {
  text-decoration: none;
  background-color: rgb(153, 79, 247);
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu1 {
  width: 24px;
  height: 24px;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon03 {
  width: 24px;
  height: 24px;
}
.home-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.home-text {
  margin-bottom: 8px;
}
.home-text01 {
  margin-bottom: 8px;
}
.home-text02 {
  margin-bottom: 8px;
}
.home-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-link1 {
  display: contents;
}
.home-icon05 {
  width: 24px;
  height: 24px;
}
.home-link2 {
  display: contents;
}
.home-icon07 {
  width: 24px;
  height: 24px;
}
.home-link3 {
  display: contents;
}
.home-icon09 {
  width: 24px;
  height: 24px;
}
.home-text05 {
  align-self: center;
  text-align: left;
}
.home-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.home-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container1 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.home-text07 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text08 {
  font-size: 12px;
  max-width: 250px;
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-navlink5 {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-container3 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image1 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.home-text09 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  font-size: 12px;
  max-width: 250px;
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-navlink6 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-container5 {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image2 {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.home-container6 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.home-text13 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text14 {
  font-size: 12px;
  max-width: 250px;
  text-align: center;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-navlink7 {
  display: contents;
}
.home-component3 {
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 44px;
  justify-content: space-between;
  background-color: #000000;
}
.home-text19 {
  color: #d9d9d9;
  font-size: 18px;
}
@media(max-width: 991px) {
  .home-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-right-side {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-text05 {
    font-size: 2.5rem;
  }
  .home-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container1 {
    width: 200px;
  }
  .home-container3 {
    width: 200px;
  }
  .home-container5 {
    width: 200px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text19 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-text05 {
    font-size: 2rem;
    text-align: center;
  }
  .home-container1 {
    width: 300px;
  }
  .home-container3 {
    width: 300px;
  }
  .home-container5 {
    width: 300px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text19 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
